# Виртуальное окружение 
venv/
.env
__pycache__/
*.pyc

# Данные (мы не пушим датасеты, так как они могут весить гигабайты)
data/raw/
data/processed/

# Модели (готовые веса моделей тоже лучше хранить отдельно, но в учебном проекте можно оставить)
# Если модель весит больше 50Мб, её тоже стоит добавить в игнор
# models/*.cbm

# Системные файлы и логи
.DS_Store
*.log
.ipynb_checkpoints/