# Виртуальное окружение 
venv/
.env
__pycache__/
*.pyc

# Данные (мы не пушим датасеты, так как они могут весить гигабайты)
data/raw/
data/processed/

# Системные файлы и логи
.DS_Store
*.log
.ipynb_checkpoints/